action_msgs==1.2.1
ament_copyright==0.12.11
ament_flake8==0.12.11
ament_pep257==0.12.11
apriltag==0.0.16
clip==1.0
control_msgs==4.6.0
cv_bridge==3.2.1
geometry_msgs==4.2.4
gpd==1.1.1
ikpy==3.4.2
ipython==8.29.0
matplotlib==3.5.1
nav2_msgs==1.1.17
nav_msgs==4.2.4
numpy==1.24.4
open3d==0.16.0
openai==1.86.0
opencv_contrib_python==4.9.0.80
opencv_python==4.10.0.84
opencv_python_headless==4.11.0.86
pandas==2.3.0
Pillow==11.2.1
pytest==6.2.5
pytz==2022.1
PyYAML==6.0.2
rclpy==3.3.14
Requests==2.32.4
rosidl_parser==3.1.5
SAM_2.egg==info
scikit_learn==1.7.0
scipy==1.8.0
sensor_msgs==4.2.4
sensor_msgs_py==4.2.4
setuptools==59.6.0
std_srvs==4.2.4
tf2_ros_py==0.25.8
torch==2.5.1
trajectory_msgs==4.2.4
transformers==4.49.0
ultralytics==8.3.38
urdfpy==0.0.22
urllib3==2.4.0
